<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nah
    {% for post in posts %}
    <div style="margin: auto; align-self: center; padding: 2%; background-color: rgb(207, 179, 233);">
        <h2>{{ post.title|safe}} </h2>
        <h4>{{post.content|safe}}</h4>
        <h6>{{ post.author.first_name }} {{ post.author.last_name }}</h6>
        <a href="{% url 'blog:post-edit' pk=post.id %}">
            <h2>edit</h2>
        </a>
        <a href="{% url 'blog:post-delete' pk=post.id %}">
            <h3>delete</h3>
        </a>
    </div>
    ----------------------------------------------------------------
    {% endfor %}

    {% for i in pages %}
            <li {% if page_obj.number == i %} class="active" {% endif %}><a href="/car?ordering={{ current_order }}&page={{i}}">{{i}}</a></li>
    {% endfor %}
</body>
</html>