{% extends 'base.html' %}
{% load static %}

<!-- <title>  -->
{% block title %} Edit Task {% endblock %}
<!-- <extra css>-->
{% block extra_css %}{% endblock %}

<!-- <body> -->
{% block content %}



<body class="body">
    <div class="container">
        <div class="today"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
                <div class="add-control">
                    <div class="form-group has-feedback">
                        <form method="POST" action="{% url 'todo:update_task' pk=task.id %}">
                            {% csrf_token %}

                            <input type="text" class="form-control" name="title" value="{{task.title}}" placeholder="✍️ Add task...">
                            
                            <button type="submit" class=" form-control-feedback add-btn" title="Add item"
                                style="background-color: lightgray;align-content: center;color: rgb(255, 255, 255);font-size:x-small; padding: 0%; ">
                                <i class="fa fa-plus form-control-feedback add-btn"
                                    style="padding-left: 10%;align-content: center;" title="Add item"></i></button>
                        </form>
                    </div>
                </div>
                <p class="err text-danger text-center hidden"><i class="fa fa-warning"></i> Oops! Please, enter name
                    item</p>



    </section>
    </main>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <!-- <script src="{% static 'js/index.js' %}"></script> -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</body>





{% endblock %}
<!-- </body> -->

<!-- <extra js>-->
{% block extra_js %}{% endblock %}